*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Sono', sans-serif;
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(2, 8, 62);
}

.header {
    padding: 2rem 4rem;
    &__h1 {
        color: white;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 4rem;
    }
    &__hero-img {
        text-align: center;
    }
}

.crypto {
        padding: 2rem 0;
    &__box {
        // display: flex;
        // flex-direction: column;
        color: white;
        font-size: 2rem;
    }

    &__title {
        padding: 1rem 0;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__data {
        // display: flex;
        margin-bottom: 2rem;
    }

    &__coins {
        display: flex;
        flex-wrap: wrap;
        min-width: 250px;
        border: 1px solid white;
        padding: 0.5rem;
        justify-content: center;

        
        &--text {
            margin-bottom: 0;
        }
        &--title {
            text-transform: uppercase;
        }

    }

    &__Ex-logo {
        width: 30px;
        margin-right: 1rem;
        
        // height: 20px;
    }
    // &__grid {
    //     display: grid;
    //     grid-template-columns: repeat(4,100px);
    //     grid-template-rows: repeat(2,40px);
    //     grid-gap: 20px, 10px;
    //     background-color: rgba(255, 255, 255, .3)
    // }

    &__location {
        border: 1px solid white;
    }
    &__net{
        display: flex;
    }

    &__pool, &__miner {
        display: flex;
        flex-direction: column; 
    }
    &__pool-box, &__miner-box {
        display: flex;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    // padding: 2rem 4rem;
    &__btns {
        padding: 0.5rem 2rem;
        color: white;
        background-color: transparent;
        border-color: white;
        border-radius: 8px;
        font-size: 2rem;
    }

    &__btn-checkAll {
        // align-self: center;
    }
}

.footer {
    text-align: center;
    color: white;
    &__text {
        position: absolute;
        bottom: 0;
        font-size: 2rem;
        text-transform: capitalize;
    }
}