*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Sono', sans-serif;
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(2, 8, 62);
}

.header {
    padding: 2rem 4rem;
    &__h1 {
        color: white;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 4rem;
    }
    &__hero-img {
        text-align: center;
    }
}

.crypto {
        padding: 2rem 0;
    &__box {
        // display: flex;
        // flex-direction: column;
        color: white;
        font-size: 2rem;
    }

    &__title {
        padding: 1rem 0;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__data {
        margin-bottom: 2rem;
    }

    &__coins {
        display: flex;
        flex-wrap: wrap;
        min-width: 250px;
        border: 1px solid white;
        padding: 0.5rem;
        justify-content: center;

        &--text {
            margin-bottom: 0;
        }
        &--title {
            text-transform: uppercase;
            margin-right: 1rem;
        }
    }

    &__Ex-logo {
        width: 30px;
        margin-right: 1rem;
    }    

    &__location {
        border: 1px solid white;
    }
    &__net{
        display: flex;
        padding: 1rem;
    }
    &__net-title {
        margin-right: 1rem;
    }

    &__pool, &__miner {
        display: flex;
        flex-direction: column; 
        padding: 1rem;
    }

    &__pool-title, &__miner-title {
        margin-right: 1rem;
    }    

    &__pool-box, &__miner-box {
        display: flex;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    height: 100%;
    &__btns {
        width: 100px;
        height: 40px;
    }
}

.warning {
    // top: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: -8rem;
    &__button {
        align-self: center;
        width: 60px;
        font-size: 1.5rem;
        padding: 0 1rem;
    }
}


.footer {
    text-align: center;
    color: white;
    &__text {
        position: relative;
        margin-top: 4rem;
        font-size: 1rem;
        text-transform: capitalize;
    }
}